<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TpFLASK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Guess The Numbers</h1>
    <form method="POST" action="/user">
        <label>Usuario:</label>
        <!--propiedad del objeto-->
        <input class="user" type="text" name="usuario" autocomplete="false">
        <br/>
        <br/>
        <!--Boton-->
        <button class="button">
            <span class="button" type="submit">submit</span>
            <i class="ri-chech-line icon"></i>
        </button>
    </form>

    <div class="instrucciones">
        <h2>INTRUCCIONES</h2>
        <p> El juego consiste de 5 números entre 0 y 10. Los números son
            generado al azar. Tienes que adivinar los números y sus lugares. Tendaras
            solamente 5 intentos. Si adivinas los números y la posicion correctamente, ganas. Si
            no los adivinas correctamente, pierdes.</p>

            <div>
                <li>
                <p class="verde">verde significa posición y número correctos</p>
                </li>
                <li>
                <p class="amarillo">amarillo significa número correcto</p>
                </li>
                <li>
                <p class="rojo">rojo significa incorrecto</p>
                </li>
            </div>
    </div>
</body>
</html>